.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(78, 186, 253);
    border-radius: 5px;
   }
   
   h1 {
    text-align: center;
    margin-bottom: 20px;
   }
   
   form {
    display: flex;
    flex-wrap: wrap;
   }
   
   label {
    margin-top: 10px;
   }
   
   input {
    padding: 10px;
    border-radius: none;
    border: none;
    margin-bottom: 25px;
   }
   
   button {
    padding: 5px;
    background-color:rgba(247, 247, 33, 0.911);
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
   }
   
   button:hover {
    background-color: white;
   }
